*{
    padding: 0%;
    margin: 0%;
    max-width: 1500px;
}.btn0{
    margin-left: 60%;
    border-color: white;
    background-color: white;
    color: black;
}
.class1{
    background-color: lightgray;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
p {
    background-color: white;
    margin-right: 80px;
}
.class2{
    margin: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
}
.class3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;
}
.class3:hover{
    text-decoration: underline;
}
button{
    border: none;
    width: 150px;
    height: 40px;
    color: white;
    background-color: blue;
}
.class4{
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0px 0px 0px 180px;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    color: #a2cd5a;
}
p{
    font-size: large;
    
}
.btn{
    background-color: white;
    border-radius: 10%;
    color: black;
    border-color: #4c4c4c;
    border-style: solid;
    width: 200px;
    height: 50px;
}
strong{
    color: #0070ff;
}
.class5{
    background-color: #F0F8FF;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;    
    width: 90%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: blue;
}
.text{
    margin-top: 3%;
}
.btn2{
    margin-top: 3%;
    
}
.btn3{
    border-radius: 10px;
    height: 60px; 
    margin-top: 30%;
    color: black;
    background-color: white;
    border-color: white;
}
.btn4{
    width: 300px;
    border-radius: 10px;
    height: 60px; 
    margin-top: 15%;
    color: black;
    background-color: white;
    border-color: white;
}
.btn5{
    border-radius: 10px;
    height: 60px; 
    margin-top: 30%;
    color: black;
    background-color: white;
    border-color: white;
}
.class6{
    margin-left: 7%;
}
.centerheading{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    text-align: center;
}
.class7{
    display: flex;
    margin: 100px 30px 0px 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.welfare{
    color: black;
    margin: 0px 30px 0px 70px;
    padding-top: 15px;
    text-align: center;
    width: 200px;
    height: 120px;
    background-color: #F0F8FF;
    border-radius: 5%;
}
.class8{
    display: flex;
    margin: 0px 80px 0px 200px;
}
h5{
    color: white;
    margin-top: -80px;
    font-size: med;

}
.btn6{
    margin-left: 3%;
    border-radius: 5%;
    background-color: #6e8b3d;
    width: 115%;
    text-align: center;
}
.btn7{
    margin-left: 3%;
    border-radius: 5%;
    background-color: #6e8b3d;
    width: 125%;
    text-align: center;
}
.btn8{
    margin-left: 3%;
    border-radius: 5%;
    background-color: #6e8b3d;
    width: 78%;
    text-align: center;
}
.class9{
    display: flex;
    text-align: center;
    margin-left: 100px;
}

.abc{
    background-color: #F0F8FF;
    text-align: center;
    width: 50px;
    margin-left: 10px;
    justify-content: space-between;
}
.class10{
    width: 100%;
    display: flex;
    color: black;
}
.class11{
    background-color: blue;
    margin: 0px 80px 0px 80px;
    height: 300px;
    display: flex;
}
.welfare1{
        color: white;
        margin: 20px 120px 20px 100px;
        padding-top: 15px;
        text-align: center;
        width: 120px;
        height: 120px;
        background-color: #F0F8FF;
        border-radius: 50%;
    }
    .class11 h1{
        margin-top: -45px;
    }
    .class11 p{
        width: 0px;
        justify-content: space-evenly;
        margin-left: 25px;
    }

.class23{
    display: flex;
}
.class12{
    background-color: #dbd5e2;
    margin: 50px 80px 0px 80px;
    height: 400px;
}
.class12 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px 600px 0px 600px;

}
.btnl{
    color: black;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 600px;
}
.btnm{
    color: black;
    background-color: #6e8b3d;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 600px;
}
.class13{
    margin-top: 50px;
    width: 1500px;
    height: 320px;
    display: flex;
    justify-content: space-around;
}
.class13 iframe{
    border-radius: 10px 10px 0px 0px;
    width: 320px;
    height: 320px;
}
.class14{
    color: black;
    display: flex;
    margin-left: 80px;
}
.class15{
    margin-top: 50px;
    margin-left: 80px;
}
.class15 img{
    width: 320px;
    height: 320px;
    background-color: #dbd5e2;
    border-radius: 10px 10px 0px 0px;
}
.class17{
    background-color: blue;
    color: white;
    width: 1000px;
    height: 200px;
    margin: 50px 150px 0px 150px;
}
.class17 h1{
    padding-top: 30px;
    text-align: center;
}
.class18{
    margin-top: 50px;
    background-color: #212f47;
    width: 1500px;
    height: 300px;
    margin: 50px 0px 0px 60px;
    display: flex;
}
.class18 h1{
    background-color: #212f47;
    color: white;
    margin-top: 90px;
    margin-left: 60px;
}
.class18 h3{
    background-color: #212f47;
    color: white;
    margin-left: 60px;
    margin-top: 10px;
}
.class18 p{
    background-color: #212f47;
    color: white;
    margin-left: 60px;
    
}
.class19{
    background-color: #212f47;
    width: 1500px;
    margin: 0px 0px 0px 60px;

}
.class20{
    background-color: #212f47;
    width: 1500px;
    margin: 0px 0px 0px 60px;

}
.class20 p{
    background-color: #212f47;
    height: 100px;
    color: white;
    padding-top: 20px;
    margin-left: 520px;
}